body {
  background-color: #333;
  display: flex;
  justify-content: center;
}

.container {
  border: 2px solid black;
  background-color: white;
  display: grid;
  height: 500px;
  width: 600px;
  grid-template-rows: repeat(5, 100px);
  grid-template-columns: repeat(6, 100px);
}

.brick {
  padding: 0;
  border-radius: 10px;
}

.square {
  background-color: red;
}

.rectangle {
  background-color: blue;
}

.vertical {
  grid-row: span 2;
}

.horizontal {
  grid-column: span 2;
}