* {
  box-sizing : border-box;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
}

.container {
  border: 2px solid black;
  background-color: white;
  display: grid;
  height: 250px;
  width: 300px;
  position: absolute;

}

.row {
  display: flex;

}

.red-row {
  background-color: rgba(255, 0, 0, 0.5);
}

.green-row {
  background-color: rgba(0, 128, 0, 0.5);
}

.blue-row {
  background-color: rgba(0, 0, 255, 0.5);
}

.yellow-row {
  background-color: rgba(255, 255, 0, 0.5);
}

.white-row {
  background-color: rgba(245, 245, 245, 0.5);
}

.red {
  padding: 0px;
  border-radius: 3px;
  background-color: red;
  height: 50px;
  width: 50px;
}

.blue {

  padding: 0;
  border-radius: 3px;
  background-color: blue;
  height: 50px;
  width: 50px;
}

.green {

  padding: 0;
  border-radius: 3px;
  background-color: green;
  height: 50px;
  width: 50px;
}

.yellow {

  padding: 0;
  border-radius: 3px;
  background-color: yellow;
  height: 50px;
  width: 50px;
}

.white {
  padding: 0;
  border-radius: 3px;
  background-color: white;
  height: 50px;
  width: 50px;
}






/* [at="a1"] {
  grid-area: a1;
}

[at="a2"] {
  grid-area: a2;
}

[at="a3"] {
  grid-area: a3;
}

[at="a4"] {
  grid-area: a4;
}

[at="a5"] {
  grid-area: a5;
}

[at="a6"] {
  grid-area: a6;
}

[at="b1"] {
  grid-area: b1;
}

[at="b2"] {
  grid-area: b2;
}

[at="b3"] {
  grid-area: b3;
}

[at="b4"] {
  grid-area: b4;
}

[at="b5"] {
  grid-area: b5;
}

[at="b6"] {
  grid-area: b6;
}

[at="c1"] {
  grid-area: c1;
}

[at="c2"] {
  grid-area: c2;
}

[at="c3"] {
  grid-area: c3;
}

[at="c4"] {
  grid-area: c4;
}

[at="c5"] {
  grid-area: c5;
}

[at="c6"] {
  grid-area: c6;
}

[at="d1"] {
  grid-area: d1;
}

[at="d2"] {
  grid-area: d2;
}

[at="d3"] {
  grid-area: d3;
}

[at="d4"] {
  grid-area: d4;
}

[at="d5"] {
  grid-area: d5;
}

[at="d6"] {
  grid-area: d6;
}

[at="e1"] {
  grid-area: e1;
}

[at="e2"] {
  grid-area: e2;
}

[at="e3"] {
  grid-area: e3;
}

[at="e4"] {
  grid-area: e4;
}

[at="e5"] {
  grid-area: e5;
}

[at="e6"] {
  grid-area: e6;
} */
